Source: test161
Maintainer: Scott Haseley <shaseley@buffalo.edu>
Uploaders: Geoffrey Challen <geoffrey.challen@gmail.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9), wget, git
Standards-Version: 3.9.5
Homepage: https://test161.ops-class.org
Vcs-Browser: https://github.com/ops-class/test161
Vcs-Git: git://github.com/ops-class/test161.git

Package: test161
Architecture: i386 amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: OS/161 testing tool
	test161 is a command line tool and server for automated testing of OS/161
	operating system kernels.
