Source: test161
Section: devel
Priority: extra
Maintainer: Scott Haseley <shaseley@buffalo.edu>
Uploaders: Geoffrey Challen <challen@buffalo.edu>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               golang-github-bmatcuk-doublestar-dev,
               golang-github-ericaro-frontmatter-dev,
               golang-github-imdario-mergo-dev,
               golang-github-kr-pty-dev,
               golang-github-stretchr-testify-dev,
               golang-github-termie-go-shutil-dev,
               golang-gopkg-yaml.v2-dev
Standards-Version: 3.9.6
Homepage: https://github.com/ops-class/test161
Vcs-Browser: https://github.com/ops-class/test161.git
Vcs-Git: git://github.com/ops-class/test161.git
XS-Go-Import-Path: github.com/ops-class/test161

Package: test161
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: A Testing Tool for OS/161
 test161 is a command line tool for automated testing of OS/161
 (http://os161.eecs.harvard.edu) instructional operating system kernels that run
 inside the System/161 MIPS R3000 simulator. You are probably not interested in
 test161 unless you are a student taking or an instructor teaching a course that
 uses OS/161.
