#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export GOPATH=$(CURDIR)
PKGDIR=debian/test161

%
	dh $@ 

clean:
	dh_clean
	rm -rf $(GOPATH)/src $(GOPATH)/pkg $(GOPATH)/bin

binary-arch: clean
	dh_prep
	dh_installdirs
	mkdir -p $(CURDIR)/src/github.com/ops-class/
	ln -sf $(CURDIR) $(CURDIR)/src/github.com/ops-class/test161 || true
	cd $(GOPATH)/src/github.com/ops-class/test161/test161 && go clean && go get && go install
	mkdir -p $(PKGDIR)/usr/bin
	cp $(GOPATH)/bin/test161 $(PKGDIR)/usr/bin/
	mkdir -p $(PKGDIR)/usr/share/doc/test161/
	gzip -9 debian/changelog -c > $(PKGDIR)/usr/share/doc/test161/changelog.gz
	cp LICENSE $(PKGDIR)/usr/share/doc/test161/copyright
	mkdir -p $(PKGDIR)/etc/bash_completion.d/
	cp bash_completion/test161 $(PKGDIR)/etc/bash_completion.d/
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dpkg-shlibdeps -e$(PKGDIR)/usr/bin/test161 -Tdebian/test161.substvars
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
