#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE=1

export BUILDDIR=$(CURDIR)/.build
export GOPATH=$(BUILDDIR)/gopath
export GOROOT=$(BUILDDIR)/go
PKGDIR=debian/test161

%:
	dh $@ 

clean:
	dh_clean

binary-arch: clean
	dh_prep
	dh_installdirs
	if [ ! -d $(BUILDDIR) ]; then mkdir $(BUILDDIR); fi
	if [ ! -d $(GOPATH) ]; then mkdir $(GOPATH); fi
	if [ ! -f $(BUILDDIR)/go1.5.3.linux-amd64.tar.gz ]; then cd $(BUILDDIR) && wget http://storage.googleapis.com/golang/go1.5.3.linux-amd64.tar.gz; fi
	if [ ! -d $(BUILDDIR)/go ]; then cd $(BUILDDIR) && tar xf go1.5.3.linux-amd64.tar.gz; fi
	mkdir -p $(GOPATH)/src/github.com/ops-class/
	ln -sf $(CURDIR) $(GOPATH)/src/github.com/ops-class/test161 || true
	cd $(GOPATH)/src/github.com/ops-class/test161/test161 && $(GOROOT)/bin/go get && $(GOROOT)/bin/go install
	mkdir -p $(PKGDIR)/usr/bin
	cp $(GOPATH)/bin/test161 $(PKGDIR)/usr/bin/
	mkdir -p $(PKGDIR)/usr/share/doc/test161/
	gzip -9 debian/changelog -c > $(PKGDIR)/usr/share/doc/test161/changelog.gz
	cp LICENSE $(PKGDIR)/usr/share/doc/test161/copyright
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dpkg-shlibdeps -e$(PKGDIR)/usr/bin/test161 -Tdebian/test161.substvars
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
