---
name: entire
points: 60
type: asst
kconfig: ASST1
tests:
  - id: sync/sem1.t
    points: 10
  - id: sync/lt1.t
    points: 10
  - id: sync/fail.t
    points: 40
