---
name: full
points: 60
type: asst
kconfig: SOL1
tests:
  - id: sync/sem1.t
    points: 10
  - id: sync/lt1.t
    points: 10
  - id: sync/multi.t
    points: 40
