---
name: full
points: 60
type: asst
kconfig: SOL3
tests:
  - id: sync/sy1.t
    points: 10
  - id: sync/sy2.t
    points: 10
  - id: sync/multi.t
    points: 40
