---
name: partial
points: 60
type: asst
kconfig: SOL1
tests:
  - id: sync/sem1.t
    points: 10
  - id: sync/lt1.t
    points: 10
  - id: sync/fail.t
    points: 40
    scoring: partial
    commands:
      - id: sem1
        points: 10
      - id: lt1
        points: 10
      - id: cvt1
        points: 20
